<footer class="powered_by">
    <p>
        <!-- <a href="/rules">Rules</a> &nbsp; <a href="/terms">Terms</a> &nbsp; --> <a href="/leaderboard">Leaderboard</a> &nbsp; <a href="https://roboflow.com/contact">Contact</a> &nbsp; <% if (user) { %><a href="/logout">Log Out</a><% } else { %><a href="/">Log In</a><% } %></p>
    <p>Need help? Email <a href="mailto:sxsw@roboflow.com">sxsw@roboflow.com</a></p>
    <a href="https://roboflow.com">Powered by Roboflow</a>
</footer>