<meta charset="utf-8" />

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

<title>The Scavenger Hunt - Roboflow</title>

<meta name="description" content="Find 5 random objects with your phone's camera. Play now." />
<meta name="author" content="Roboflow" />

<meta property="og:title" content="The $1000 Scavenger Hunt - Roboflow" />
<meta property="og:description" content="Find 5 random objects with your phone's camera. Play now." />
<meta property="og:image" content="https://media.roboflow.com/shareimg/roboflow-scavhunt-share-prize.png?ik-sdk-version=javascript-1.4.3&updatedAt=1677800297878" />
<meta property="og:image:alt" content="A banner for the Scavenger Hunt." />

<link href="/style.css" rel="stylesheet" type="text/css" />

<script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
<link rel="manifest" href="/manifest.json">

<meta name="theme-color" content="#7733f4">
<link rel="apple-touch-icon" href="https://media.roboflow.com/logos/512.png?ik-sdk-version=javascript-1.4.3&updatedAt=1677817820107" type="image/png" sizes="512x512">
<link rel="icon" href="/512x512.png" type="image/png" sizes="512x512">
<link rel="icon" href="/192x192.png" type="image/png" sizes="192x192">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="mobile-web-app-capable" content="yes" />

<link rel="apple-touch-startup-image" href="https://media.roboflow.com/logos/512.png?ik-sdk-version=javascript-1.4.3&updatedAt=1677817820107" />

<meta name="apple-mobile-web-app-status-bar-style" content="#7733f4">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VMZC6374YB"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VMZC6374YB');
</script>